* {
    margin: 0px;
    padding: opx;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Header Section Styles */
.header {
    width: 1320px;
    height: 600px;
    margin: 0px auto;
    color: #ffffff;
    background-image: url('/images/Banner\ Image.png');
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-size: cover;
    align-items: center;
    position: relative
}

.header-content {
    margin-top: 200px;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-left: 400px;

}

.header-content h3 {
    font-size: 32px;
    font-weight: 500;

}

.header-content h1 {
    font-size: 72px;
    font-weight: 900;

}

/* main section styles */
main {
    margin: 120px;

}
/* banner section styles */

.banner{
    background-color: #ffffff;
}
.banner-content {
    text-align: center;
}

.banner-content h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.banner-content h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

.banner-content h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.banner-img img {
    align-items: center;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}